*{
    margin:0px;
    padding:0px;
    max-width: none;
}
body{
    background: red;
}
/* logo start */
.logoCont{
    position: relative;
}
.txtLogo{
    position: absolute;
    color: white;
    bottom:0;
    top: 50%; 
    left:50%;
    transform: translate(-50%, -50%);
    font-size:55px;
    height: 100px;
    width:100%; 
    text-align:center;
}
/* logo end */
.a{
    justify-content: center;
    margin-top: 70px;
    background: blue;
}
.b{
    justify-content: center;
    font-size: 4vw;
    text-align: center;
    margin-top: 20px;
    background: yellow;
}
.form-control{
    text-align: center;
}


