*{
    margin:0px;
    padding:0px;
    max-width: none;
}
body{
    background: red;
}
.a{
    justify-content: center;
    margin-top: 70px;
    background: blue;
}
.b{
    justify-content: center;
    font-size: 4vw;
    text-align: center;
    margin-top: 20px;
    background: yellow;
}
input{
    width: 60%;
    text-align: center;
}
.nonna{
    justify-content: center;
}
.dropdown-toggle, .dropdown-item{
    width: 60%;
    font-size: 4vw;
}
.btn-secondary{
    font-size: 4vw;
}


