*{
    margin:0px;
    padding:0px;
    max-width: none;
}
body{
    background: black;
    /* background-image: url("./img/oop.jpg"); */
}
.a{
    justify-content: center;
    margin-top: 70px;
    background: black;
}
.b{
    justify-content: center;
    font-size: 4vw;
    text-align: center;
    margin-top: 20px;
    background: black;
    color: azure;
}
input{
    width: 60%;
    text-align: center;
}
.nonna{
    justify-content: center;
}
.c{
    font-size: 2vw;
}
.d{
    font-size: 2vw;
}