*{
    margin:0px;
    padding:0px;
    max-width: none;
}
body{
    background: red;
}
.picCont{
    justify-content: center;
    margin-top: 70px;
    background: blue;
}

.label{
    justify-content: center;
    text-align: center;
}

.horoscope{
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.b{
    justify-content: center;
    font-size: 11vw;
    text-align: center;
    margin-top: 40px;
    background: yellow;
}
.c, .d{
    justify-content: center;
    text-align: center;
}
.btn{
    margin:10px;
}
